body {
  width: 80%;
  margin: auto;
}

h1 {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

h2, p {
  text-align: center;
}

table {
  margin: auto;
}

.board {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  font-size: 4.5em;
  text-align: center;
  cursor: pointer;
}

.board:hover {
  background: #ccc;
}
