body {
  width: 80%;
  margin: auto;
  font-family: Arial;
  background: #dce9e6
}

h1 {
  background: black;
  color: #ccc;
  padding: 20px;
  text-align: center;
  border: 5px solid white;
  box-shadow: 0 0 45px black;
}

h2, h3, p {
  text-align: center;
  font-weight: 700;
}

table {
  margin: auto;
  border: 2px solid black;
}

td {
  background: white;
  box-shadow: 0 0 45px black;
}

.board {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  font-size: 4.5em;
  text-align: center;
  cursor: pointer;
}

.board:hover {
  background: #ccc;
}

button {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  width: 100px;
  display: block;
  border: 2px solid black;
  background: white;
  box-shadow: 0 0 45px black;
}

button:hover {
  cursor: pointer;
  background: #ccc;
}
